@font-face {
   font-family: "Inter";
  src: url("assets/fonts/Inter-VariableFont_opsz\,wght.ttf");
}

:root {
  --primary-color: #24198c;
  --light-text: #fff;
  --dark-text: #000;
}

*,
*::before
*::after
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
}

#main-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#main-section img {
  width: 50%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  border-radius: 8px;
}

#main-section h1 {
  padding-top: 20px;
  font-weight: bold;
  font-size: 40px;
  text-align: center;
}

header {
  background-color: var(--primary-color);
  padding: 40px 40px;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-title a {
  color: var(--light-text);
  font-size: 1.3em;
  font-weight: bold;
  text-decoration: none;
  text-align: left;
  display: block;
}

.header-title {
  flex: 1;
}

.header-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 32px;
}

.header-nav a {
  color: var(--light-text);
  font-weight: bold;
  text-decoration: none;
  font-size: 1.1em;
}


footer {
  background-color: var(--primary-color);
  color: var(--light-text);
  padding: 10px;
  text-align: center;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: var(--primary-color);
  gap: 20px;
}

.footer-left,
.footer-center,

.footer-right {
  flex: 1;
}

.footer-left {
  text-align: left;
}

.footer-center {
  text-align: center;
}

.footer-right {
  text-align: right;
}

header,
header a,
footer,
footer b,
footer p,
.footer-container,
.footer-left,
.footer-center,
.footer-right {
  color: var(--light-text);
}

header a {
  text-decoration: none;
  color: var(--light-text);
}

.link-section
{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;  
  margin-top: 40px;
  margin-bottom: 40px;
}
.link-section img
{
  width: auto;  
  max-width: 150px;
  height: auto;
}
.link-item img
{
  border: 2px solid var(--dark-text);
 
  border-radius: 8px;       
  padding: 15px;
  text-align: center;
  max-width: 200px;         
  background-color: var(--light-text);         /* clean background */
}
.link-item a
{
   text-decoration: none;
  color: var(--dark-text);
  display: flex;
  flex-direction: column;
  align-items: center; 
}
.link-item p
{
  margin-top: 10px;
  font-weight: bold;
  text-align: center;
}


.container {
  max-width: 1200px;
  padding: 20px 0;
  margin: 0 auto;
}



.lined {
  text-decoration: underline;
}

#contact{
  display: flex;
  justify-content: center;
}

.image-gallery {
  display: grid;


}

#smartphones-list, 
#tablets-list, 
#laptops-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  padding: 2rem;
  list-style: none;
  max-width: 1200px;
  margin: 0 auto;
}

.product-card {
  background-color: var(--light-text);
  border-radius: 10px;
  padding: 1rem;
  border: 2px solid var(--dark-text);

  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-image {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 1rem;
}

.product-title {
  font-size: 1.2rem;
  font-weight: 600;
  margin: 0.5rem 0;
}

.product-price {
  font-size: 1rem;
  font-weight: bold;
  color: #007bff;
  margin: 0.3rem 0;
}

.product-description {
  font-size: 0.9rem;
  color: #555;
  margin-bottom: 1rem;
}


.cart-button {
  background: none;
  border: none;
  cursor: pointer;
  align-self: center;
  margin-top: auto;
}

.cart-button img {
  width: 32px;
  height: 32px;
}

.cart-button img:hover {
  transform: scale(1.2);
  transition: transform 0.2s ease;
}

/* Für Tablet Bildschirme*/
@media (max-width: 900px) {
  #smartphones-list, #tablets-list, #laptops-list { 
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Für Smartphone Bildschirme*/
@media (max-width: 600px) {
  #smartphones-list, #tablets-list, #laptops-list { 
    grid-template-columns: 1fr;  
    padding: 1rem; 
  }

  #main-section h1 {
    font-size: 32px; 
  }
}